<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>MediaSchnaff</title>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/Center.Razor.styles.css" asp-append-version="true" />
    </head>

    <body class="gradient" style="display: grid; grid-template-columns: 1fr; grid-template-rows: 150px 1fr; width: 100%; height: 100vH;">
        @RenderBody()
    </body>
</html>