@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div style="grid-row: 1; padding-left: 22px;">
    <div id="yearContainer" style="display: flex; width: calc(100vW - 40px); overflow: hidden;"></div>
    <h3>Januar</h3>
</div>

<div id="displayElement" style="grid-row: 2; width: 100%; height: 100%; position: relative;"></div>

<script type="module">
    import { mediaSchnaff } from './js/media-schnaff.js';    

    const ms = new mediaSchnaff("yearContainerId", "displayElement")
    await ms.initAsync();
    
</script>